#Container{
	width: 1000px;
	margin: 0 auto;
}
body{
	background:#C9DAB5 url("../Image/anchor3.jpg") top center;
	background-size: 100%;
}
h1{
	postion: relative;
}
h1 a{
	background: url("../Image/wheel.png") no-repeat;
	background-size: 100%;
	background-position: 0 13px;
	display: inline-block;
	height: 300px;
	width: 300px;
	float: left;
}
h1 a:hover{
	-webkit-animation: wheelspin 1s infinite linear;
}
@-webkit-keyframes wheelspin{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
h1 p{
	float: left;
	background: url("../Image/title.png") no-repeat;
	background-size: 100%;
	display: block;
	width: 600px;
	height: 197px;
	text-indent: -9999px;
}
nav ul li a{
	background-color: black;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	height: 60px;
	width: 100px;
	display: inline-block;
	text-align: center;
	margin: 10px;
	margin-left: 55px;
	padding-top: 40px;
	border-radius: 100px;
}
nav ul li{
	list-style: none;
	float: left;
	position: relative;
}
nav ul li ul{
	background-color: white;
	width: 100px;
	position: absolute;
	top: 40px;
	left: -9999px;
	border-radius: 50px;
	padding: 10px;
}
nav ul li:hover ul{
	left: 0;
}
nav ul li ul li{
	float: none;
}
#Header{
	background-color: #F5F0EB;
	border: 10px solid;
	margin: 2%;
}
h2{
	background-color: black;
	color: white;
	margin: 0;
	text-align: center;
 }
#Stay{
	background-color: #F5F0EB;
	width: 25%;
	float: left;
	border: 10px solid;
	margin: 2%;
}
h3{
	background-color: black;
	color: white;
	font-size: 23px;
	margin-top: 0;
	text-align: center;
}
#Content{
	background-color: #F5F0EB;
	width: 63%;
	float: left;
	border: 10px solid;
	margin: 20px;
}
img{
	width: 25%;
}
h4{
	background-color: black;
	color: white;
	margin: 0;
	font-size: 23px;
	text-align: center;
}
#New{
	background-color: #F5F0EB;
	width: 63%;
	float: left;
	border: 10px solid;
	margin: 20px;
}
.clear{
	clear: both;