.box1 {
	height: 70px;
	width: 70px;
	background-color: green;
	display: block;
	float: right;
}
.box2 {
	height: 70px;
	width: 70px;
	background-color: red;
	float: left;
	display: block;
}
.box3 {
	height: 70px;
	width: 70px;
	background-color: blue;
	position: absolute;
	bottom: 0;
}
.box4 {
	height: 70px;
	width: 70px;
	background-color: orange;
	position: absolute;
	bottom: 0;
	right: 0;
}
.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

